opencv-python==4.2.0.34
cython==0.29.17
wandb
git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI
# git+https://github.com/zhanghang1989/detectron2-ResNeSt.git
# git+https://github.com/facebookresearch/detectron2.git